/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2016/09/15, 13:37:22
    Author     : yusuke.saito
*/


/*
 Common CSS 
*/
html,body{
    height:100%;
    background-color: #F5F6FA!important;
    font-family: Lato, Helvetica, Arial, sans-serif;
}
.container{
    position: relative; 
    min-height: 100%;
    height: auto !important;
    height: 100%
}

.left {
    float: left;
}
.clear {
    clear: both;
    width: 100%;
    height: 0;
    overflow: hidden;
    font-size: 0;
    line-height: 0;
    border: none;
    background-color: none;
}

/*
 Header menu 
*/

#logomenu {
    width: 100%;
    box-sizing: content-box;
    background-image: url('../img/header.png');
}

#logomenu > img{
    margin:10px 20px;
    width:160px;
    height:120px;
}

#navmenu {
    background-color: #f96e5b;
    width: auto;
    box-sizing: content-box;
}

#navmenu ul {
    list-style: none;
    margin: 0;
    padding: 0;
    line-height: 1;
    display: block;
    zoom: 1;
    font-size: 0;
}
#navmenu ul li {
    display: inline-block;
    padding: 0;
    margin: 0;
}
#navmenu ul li.active a {
    color: #333;
}
#navmenu ul li a {
    color: #fff;
    text-decoration: none;
    display: block;
    padding: 15px 25px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 14px;
    position: relative;
    -webkit-transition: color .25s;
    -moz-transition: color .25s;
    -ms-transition: color .25s;
    -o-transition: color .25s;
    transition: color .25s;
}
#navmenu ul li.active a:before {
    width: 100%;
}
#navmenu ul li a:before {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 0;
    background-color: #333;
    -webkit-transition: width .25s;
    -moz-transition: width .25s;
    -ms-transition: width .25s;
    -o-transition: width .25s;
    transition: width .25s;
}
#navmenu ul li a:after {
    content: "";
    display: block;
    position: absolute;
    right: -3px;
    top: 19px;
    height: 6px;
    width: 6px;
    background-color: #fff;
    opacity: .5;
}


/*
 Footer menu 
*/

#footer {
    position: relative;
    z-index: 2;
}
#footer-bottom {
    color: #fff;
    font-size: 12px;
    width: 100%;
    text-transform: uppercase;
    background-color: #f96e5b;
    line-height: 20px;
}
.inner-footer {
    width: 75%;
    margin: 0 auto;
    padding: 15px 0;
}
#footer-left a {
    padding-left: 10px;
    border-left: 1px solid #78a6b6;
    margin-left: 10px;
    color: #fff;
}
#footer-bottom a {
    color: #fff;
}
.footerCopyright {
    float: right;
    border-left: 0px!important;
}


/*
 Contents 
*/
.intro,.submit_form{
    text-align: center;
    margin-bottom: 20px;
}

.notification{
    font-size:30px;
    border: 3px solid #f96e5b;
    border-color: #f96e5b;
    font-weight: normal;
    line-height: 1.4;
    border-radius: 4px;
    padding: 10px 15px;
    -webkit-font-smoothing: subpixel-antialiased;
    -webkit-transition: border 0.25s linear, color 0.25s linear, background-color 0.25s linear;
    transition: border 0.25s linear, color 0.25s linear, background-color 0.25s linear;
}

.box {
    background-color: #fff4f2;
    border: 2px solid #ffded9;
    padding: 15px 21px;
}

/*
 Table 
*/



table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 20px;
    background-color: transparent; 
}
thead{
    background-color: #fcafa5;
}
th, td{
    word-wrap:break-word;
    max-width: 150px;
    border-left: 1px solid #ddd; 
    border-right: 1px solid #ddd; 
}
th > a{
    color:#000;
}
table > thead > tr > th,
table > thead > tr > td,
table > tbody > tr > th,
table > tbody > tr > td,
table > tfoot > tr > th,
table > tfoot > tr > td {
    padding: 8px;
    line-height: 1.42857;
    vertical-align: top;
    border-top: 1px solid #ddd; }
table > thead > tr > th {
    vertical-align: bottom;
    border-bottom: 2px solid #ddd; }
table > caption + thead > tr:first-child > th,
table > caption + thead > tr:first-child > td,
table > colgroup + thead > tr:first-child > th,
table > colgroup + thead > tr:first-child > td,
table > thead:first-child > tr:first-child > th,
table > thead:first-child > tr:first-child > td {
    border-top: 0;
}
table > tbody + tbody {
    border-top: 2px solid #ddd;
}